.logo{
	height: 140px;
	padding-top: 0px;
	margin-top: 0px;

}
#menu{
	padding: 0px;
}

li{
	list-style: none;
	display: inline-block;
	padding: 5px;
}

nav{
	color: white;
	margin: 0px;
    padding-top: 1.2em;
    padding-bottom: .005em;
    text-align:center;
    background-color: #7B7938;
}

a{
	text-decoration: none;
	color: white;
}

a:hover {
    color: pink;
    background-color: transparent;
    text-decoration: ;
}
a:active {
    background-color: transparent;
    text-decoration: underline;
}


body {
    margin: 0px 0; 
    padding:0;
 
}

article{
	padding:15px;
}

.dash-div{
	display: inline-block;
	text-align: center;
	padding: 0px;
	margin-top: 15px;
	width: 120px;
	float: left;
}

.dash-images{
	height: 100px;
	padding: 0px 10px;
	display: inline-block;
}

.dash-text{
	padding: 10px 0;
	margin: 0px;
	color: pink;
}

